body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

/* Header section */

.header {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    width: 100%;
}

.header-logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin: 8px 64px;
}

.right-links {
    display: flex;
    position: relative;
    margin-left: auto;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    align-items: center;
}

li {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    font-weight: lighter;
}


a {
    text-decoration: none;
    color: #cbced3;
}


/* Hero section*/

.hero-container {
    display: flex;
    background-color: #1f2937;
    width: 100%;
    justify-content: space-around;
}

.website-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.headline {
    display: flex;
    box-sizing: border-box;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
    padding-top: 64px;
    padding-bottom: 8px;
    margin: 8px 64px;
}

.subtext {
    display: flex;
    margin: 8px 64px;
    color: rgb(229, 231, 235, 0.8);
    font-size: 18px;
}


.hero-button{
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid black;
    max-width: 100px; 
    max-height: 32px;
    padding: 16px;
    margin: 8px 64px;
    align-items: center;
    justify-content: center;
}

.image {
    display: flex;
    position: relative;
    margin: 8px 32px;
    flex-shrink: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

img {
    max-width: 400px;
    height: auto;
}

/* Information section */

.container-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 32px;    
    padding-bottom: 128px;
}

.random-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 16px 32px;
    margin-bottom: 64px;
}

.illustration-img-section {
    display: flex;
    width: auto;
    height: 200px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.square-info-box {
    display: flex;
    height: 140px;
    width: 140px;
    border: 4px solid #3b82f6;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}

.info-text {
    display: flex;
    color: #68717c;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 130px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 16px;
    padding-left: 8px;
    margin-bottom: 32px;
}

/* Quote section */

.container-quote {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 256px 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e5e7eb;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.quote-main {
    display: flex;
    max-width: 880px;
    max-height: 440px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: rgb(31, 41, 55, 0.7);
    margin-left: auto;
    margin-right: auto;
}

.quote-signed {
    display: flex;
    flex-direction: column-reverse;
    color: black;
    font-weight: bold;
    font-size: 20px;
    max-width: 880px;
}

/* Sign up section */

.container-sign-up {
    display: flex;
    width: 100%;
    max-width: 880px;
    max-height: 128px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-left: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #3882f6;
    border-radius: 8px;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    color: #F9FaF8;
    justify-content: center;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -8px;
    margin-top: 8px;
}

.container-sign-up p{
    display: flex;
    font-weight: lighter;
    width: 256px;
    color: rgb(249, 250, 248, 0.8);

}

.button-sign-up {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0px 32px;
}

.button-sign-up button {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 8px 32px;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    color: #F9FaF8;
    background-color: #3882f6;
    width: 128px;
}

/* Footer section */

.container-footer {
    display: flex;
    flex-direction: column;
    padding: 64px;
    background-color: #1f2937;
    color: rgb(249, 250, 248);
    justify-content: center;
    align-items: center;
    width: 100%;
}
