body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    display: inline-flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-weight: bold;
    background-color: #1f2937;
    padding: 16px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 200px;
}


ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    align-items: center;
}

li {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    font-weight: lighter;
}


a {
    text-decoration: none;
    color: #cbced3;
}

.right-links {
    display: flex;
    margin-left: auto;
    margin-right: 80px;
}

.hero-container {
    display: flex;
    background-color: #1f2937;
    padding: 80px 64px;
}

.website-info {
    display: flex;
    margin-left: 152px;
    margin-right: 128px;
    box-sizing: border-box; 
    max-width: 400px;
    flex-wrap: wrap;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
}

.website-info p {
    font-size: 18px;
    color: #cbced3;
}

.hero-button{
    background-color: #3882f6;
    color: white;
    font-size: 14px;
    padding: 8px 32px;
    border-radius: 8px;
    border: 1px black;
    
}

.image {
    display: flex;
    margin-left: auto;
    margin-right: 64px;

}

img {
    max-width: 400px;
    height: auto;
}